.nav{
    width: 1500px; 
    margin-left: 0px;
    margin-right: 0px;

  }
  .pic{
    width:100px;
    height: 70px;
  }

 .white-text{
font-size: 25px;
margin-left: 50px;
margin-top: 20px;
 }

 #btn{
  width: 500px;
  padding: 12px 20px;
  margin-left: 100px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(90, 218, 186);
  box-sizing: border-box;
  align-self:center;
  color: rgb(90, 218, 186);;
}

/* button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
} */